div,li,ul,body{
	margin:0px;
	padding:0px;
}
#all{
	z-index:50;
	width:1366px;
	height:600px;
}
#top {
	height:100px;
	width:1366px;
	background:rgb(45,116,177);
	float:left;
	
}
.top_left{
	
	width:370px;
	font-family:Î¢ÈíÑÅºÚ;
	font-size:25px;
	line-height:100px;
	padding-left:480px;
	color:white;
	float:left;
	
}
.top_right{
	width:300px;
	float:left;
	background:rgb(45,116,177);
	padding-left:200px;
}
#top .top_right .top_menu{
	list-style:none;
	font-size:15px;
	color:white;
	line-height:100px;
	
	
}
 li {
	float:left;
}
#form {

	width:280px;
	height:400px;
	background:rgb(235,242,250);
	position:absolute;right:900px;
	z-index:100;
	
}
.image{
	width:280px;
	height:100px;
	
	background-image: url("../01.jpg");
}
.information{
	width:280px;
	height:700px;
	background:rgb(235,242,250)
}
.name{
	width:220px;
	height:35px;
	border:1px;
	background:white;
	margin-top:40px;
	margin-left:30px;
}
.name_image1{
	width:30px;
	height:30px;
	background: url("../02.jpg");
	float:left;
	margin-left:5px;
	margin-top:3px;
	
}
.shuru{
	width:160px;
	height:25px;
	margin-left:10px;
	margin-top:5px;
	float:left;
}

.shuru input{
	
	
	width:160px;
	height:25px;
	border:0;
	color:rgb(136,136,136);
	font-size:20px;
	
}
.password{
	width:220px;
	height:35px;
	border:1px;
	background:white;
	margin-top:20px;
	margin-left:30px;
	}
.name_image2{
	width:30px;
	height:30px;
	background: url("../03.jpg");
	float:left;
	margin-left:5px;
	margin-top:1px;}
.auto{
	width:220px;
	height:25px;
	margin-top:20px;
	margin-left:30px;
	font-weight:bold;
	font-size:15px;
	
}
a{
	text-decoration:none;
}


.button1{
	width:220px;
	height:35px;
	color:white;
	font-size:17px;
	padding-left:8px;
	line-height:35px;
	background:rgb(68,119,170);
	border:0px;
	margin-left:30px;
	margin-top:15px;
}
.zhuce_button{
	width:220px;
	height:35px;
	color:white;
	font-size:17px;
	padding-left:8px;
	line-height:35px;
	background:rgb(107,158,86);
	border:0px;
	margin-left:95px;
	margin-top:35px;
}
.button2{
	width:220px;
	height:35px;
	font-size:15px;
	line-height:35px;
	background:rgb(255,255,255);
	border:0px;
	margin-left:30px;
	margin-top:30px;
	background: url("../10.jpg") no-repeat left;
	color:rgb(70,106,54);
	font-weight:bold;
}
.button3{
	width:220px;
	height:35px;
	font-size:15px;
	line-height:35px;
	background:rgb(255,255,255);
	border:0px;
	margin-left:30px;
	margin-top:20px;
	background: url("../11.jpg") no-repeat left;
	color:rgb(70,106,54);
	font-weight:bold;
}
.qita{
	width:220px;
	height:80px;
	
	margin-top:40px;
	margin-left:30px;
}
.qita .qita_zhanghao
{	color:rgb(102,102,102);
	width:220px;
	height:20px;
	
	
	font-size:15px;
	
}
.tubiao{
	width:220px;
	height:60px;
	font-size:14px;
}
.qita_zhanghao_lianjie{
	width:73px;
	height:20px;
	float:left;
}
.qita_zhanghao_lianjie_image1{
	width:24px;
	height:20px;
	background: url("../12.jpg");
	float:left;
}
.qita_zhanghao_lianjie_image2{
	width:24px;
	height:20px;
	background: url("../13.jpg");
	float:left;
}
.qita_zhanghao_lianjie_image3{
	width:24px;
	height:20px;
	background: url("../14.jpg");
	float:left;
}
.qita_zhanghao_lianjie_image4{
	width:24px;
	height:20px;
	background: url("../15.jpg");
	float:left;
}
.qita_zhanghao_lianjie_{
	width:73px;
	height:20px;
	float:left;
	margin-top:10px;
}
.align{
	width:49px;
	height:20px;
	line-height:20px;
	font-size:14px;
}
.zhuce{
	width:800px;
	height:300px;
	margin-left:480px;
	margin-top:40px;
	
	float:left;
}
.zhuce_information{
	width:400px;
	height:300px;
	
	float:left;	
}
.zhuce_image{
	width:400px;
	height:300px;
	background: url("../16.jpg") no-repeat;
	float:left;
}
.zhuce_top{
	height:18px;
	font-size:18px;
	font-weight:bolder;
	float:left;
}
.zhuce_top_down{
	height:18px;
	font-size:17px;
	color:rgb(136,136,136);
	float:left;
	margin-top:5px;
	
}
.zhuce_sex{
	width:400px;
	height:35px;
	color:rgb(136,136,136);
	float:left;
	padding-left:50px;
	padding-top:20px;
}
.zhuce_id{
	width:400px;
	height:35px;
	color:rgb(136,136,136);
	float:left;
	padding-left:35px;
	padding-top:12px;
}
.zhuce_birthday{
	width:400px;
	height:35px;
	color:rgb(136,136,136);
	float:left;
	padding-left:20px;
	padding-top:12px;
}
.sex{
	width:220px;
	height:35px;
	border-color:rgb(173,182,201)
}
.id{
	width:220px;
	height:35px;
	border-color:rgb(173,182,201)
}
.year{
	width:70px;
	height:35px;
	border-color:rgb(173,182,201)
}
.yue{
	width:70px;
	height:35px;
	border-color:rgb(173,182,201)
}
.re{
	width:70px;
	height:35px;
	border-color:rgb(173,182,201)
}
.bottom{
	width:800px;
	height:200px;
	
	float:left;
	margin-top:20px;
	margin-left:10px;
}
.bottom_top{
	width:800px;
	height:50px;
	
	float:left;
	line-height:50px;
 	font-size:20px; 
	font-weight:bold;
}
.bottom_center1{
	height:25px;
	
	float:left;
	font-size:15px;
	color:rgb(51,51,51);
}
.bottom_center1 ul{
	list-style: none;
}
.bottom_center2{
	height:50px;
	
	float:left;
	font-size:15px;
	color:rgb(51,51,51);
	
}
.bottom_center2 ul{
	list-style: none;
}
.bottom_bottom{
	height:50px;
	width:800px;
	background:rgb(241,246,249);
	float:left;
	line-height:50px;
	padding-left:270px;
	color:rgb(136,136,136);
	font-size:15px;
}